
@media (min-width: 992px){
#sticky-wrap.stickyhead {
	position: fixed !important;
	top: 0;
	right:0;
	left:0;
	background: #fff;
	
	/*box-shadow: 0 0 10px rgb(236, 223, 223);*/
	z-index: 99;
	/*border-bottom: 1px solid #111;*/
	transition-duration: 0.4s;
	/* padding:7px 0; */
}
	#sticky-wrap.stickyhead.nav_sec.navbar .navbar-nav li a
	{
		
		transition-duration: 0.4s;
	}
	
}


@media only screen and (min-width:320px) and (max-width:991px) {
	/*===== comman ===*/
	
	.md_res_mar_top_30
	{
		margin-top:30px;
	}
	.nav_sec
	{
		
	}
	
}
@media only screen and (min-width:320px) and (max-width:767px) {
	
/*====== Comman ====== */
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.logo_area
	{
		display: flex;
    	align-items: center;
	}
	
	.sm_res_mar_top_30
	{
		margin-top:30px;
	}
	
	

}


@media only screen and (min-width:320px) and (max-width:575px) {
	
	/* .logo_area
	{
		width: 40%;
	}
	.nav_area
	{
		width: 60%;
	} */
	
	
	
	
	
}

@media only screen and (min-width:576px) and (max-width:767px) {
	

}

@media only screen and (min-width:768px) and (max-width:991px) {
	/*========= top_header =========*/
	/* .logo_area
	{
		width: 27%;
	}
	.nav_area {
		width: 73%;
	} */
	
}

/********************@media only screen and (min-width:1024px) and (max-width:1200px)********************/


@media (min-width:992px) and (max-width:1199px) {
	
	
	
}
